@import url(_reset.css);
@import url(_variables.css);

body{
    position: relative;
    background-color: var(--azul);
    box-sizing: border-box;
    background-image: url('../../assets/img/teste.svg'),url('../../assets/img/SplashMeio.svg'),url('../../assets/img/pets-home.png');
    background-repeat: no-repeat;
    background-position: top  left,right,center bottom 6.5rem;
    min-height: 100vh;
}