.inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10.5rem;
    gap: 1rem;
}

.inicial h2{
    padding-top: .5rem;
    font-size: 1.625rem;
    color: var(--branco);
    font-family: 'IBM Plex Sans', sans-serif;
}

.inicial p{
    font-family: 'Poppins', sans-serif;
    color: var(--branco);
    line-height: 1.5rem;
    width: 68vw;
    text-align: center;
}

.inicial .button{
    width: 50vw;
}