.body-inicial{
    position: relative;
    background-color: var(--azul);
    box-sizing: border-box;
    background-image: url('../../assets/img/teste.svg'),url('../../assets/img/SplashMeio.svg'),url('../../assets/img/pets-home.png');
    background-repeat: no-repeat;
    background-position: top  left,right,center bottom 6.5rem;
    min-height: 100vh;
}


.inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    gap: 1rem;
    color: var(--branco);
}


.inicial .button{
    width: 50%;
}

.inicial__espacamento{
    height: 10rem;
}


@media  (min-width:768px) {
    .body-inicial{
        background-size: 500px,134px,338px;
    }
}


@media  (min-width:1440px) {
    .body-inicial{
        background-size: 560px,134px,346px;
    }
}