.login{
  
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        gap: 1rem;
        color: var(--azul);
    
}

.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.login__link{
    margin-bottom: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: var(--coral);
    line-height: 24px;
    text-decoration: underline;
}

.login__form button{
    width: 41%;
}

@media  (min-width:768px) {
    .login__form input{
        width: 344px;
    }

    .login__form button{
        width: 164px;
    }
}

@media  (min-width:1400px) {
    .login__form input{
        width: 552px;
    }
    .login__form input[type="password"]{
        width: 362px;
    }
    .login__form button{
        width: 174px;
    }
}