.logo__titulo{
    padding-top: .5rem;
    font-size: 1.625rem;
    font-family: 'IBM Plex Sans', sans-serif;
}

.logo__paragrafo{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
    width: 68%;
    text-align: center;
}

.logo_img{
    width: 186px;
    height: 46.36px;
}

@media  (min-width:768px) {
    .logo_img{
        width: 252px;
        height: 62px;
    }
    .logo__titulo{
        font-size: 1.75rem;
    }
    .logo__paragrafo{
        font-size: 1.125rem;
    }
}

@media  (min-width:1440px) {
    .logo_img{
        width: 260px;
        height: 64px;
    }
}