.button{
    background-color: var(--coral);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 0.375rem;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.25));
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--branco);
    cursor: pointer;
    border: 1px solid var(--azul);
}

.button:hover{
    background-color: #FF9D9E;
}