.footer{
    background-color: var(--verde);
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: var(--branco);
}