.App {
  text-align: center;
  background-image: url('./assets/img/teste.svg') , url('./assets/img/SplashMeio.svg'), url('./assets/img/pets-home.png');
  background-position: top 0 left, right, bottom center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

