.App {
  text-align: center;
  background-image: url('./assets/img/SplashMeio.svg'), url('./assets/img/pets-home.png');
  background-position:  right, bottom center;
  background-repeat: no-repeat;
  height: 89vh;
  width: 100vw;
}

